.acerca-de-page {
    background-color: var(--negro);
    margin: 0;
  }

.acerca-de-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--blanco);
    color: var(--gris); /* Texto claro */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .acerca-de-container h1,
  .acerca-de-container h2 {
    color: #00ccdd; /* Color principal */
  }
  
  .acerca-de-container p {
    line-height: 1.6;
    margin-bottom: 16px;
  }