section {
    padding: 50px;
    text-align: center;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section, .how-section {
    background-color: var(--gris);
}

.intro-section {
    position: relative;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Capa oscura medio transparente */
    z-index: 0;
}

.intro-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}

h1, h2, h3 {
    color: var(--principal);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.landing-container p, .about-section p, .how-box p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--blanco);
}

.intro-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.intro-button {
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    font-size: 1.2rem; /* Aumenta el tamaño del texto del botón */
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: var(--principal);
    color: var(--blanco);
}

.intro-button:hover {
    background-color: var(--secundario);
}

/* ------------- */
/* SECTION ABOUT */
/* ------------- */
.about-section{
    background-image: radial-gradient(circle, var(--negro), transparent 20%, var(--gris)); /* Degradado */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--negro);
  }

.about-section p {
    color: var(--blanco);
    text-align: justify;
}

/* ----------- */
/* SECTION HOW */
/* ----------- */

/* Fondo */
.how-section {
    background-image: radial-gradient(circle, var(--grisClaro), transparent 30%, var(--gris));
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--grisClaro);
  }

/* Titulo seccion */
.how-container h1 {
    font-size: 2.5rem;
    color: var(--blanco);
    margin-bottom: 40px;
    letter-spacing: 1px;
}

/* Orden de las cajas */
.how-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Cajas */
.how-box {
    background: var(--gris);
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Iconos */
.how-box .icon {
    font-size: 3rem;
    color: var(--principal);
    margin-bottom: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Texto */
.how-box h3 {
    font-size: 1.5rem;
    color: var(--principal);
    margin-bottom: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.how-box p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--blanco);
}

/* Raton por encima de las cajas */
.how-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.how-box:hover .icon {
    color: var(--secundario);
    transform: scale(1.1);
}

.how-box:hover h3{
    color: var(--secundario);
}

/* ---------------------- */
/* SCROLLEAR HACIA ARRIBA */
/* ---------------------- */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: var(--principal);
    color: var(--blanco);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: var(--secundario);
}
