/* DEFINIR COLORES */
:root {
  --principal: #00ccdd;
  --secundario: #009295;
  --blanco: #f4f4f4;
  --negro: #242424;
  --gris: #333333;
}

body {
  margin: 0;
  font-family: comfortaa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: comfortaa;
}

input {
  font-family: comfortaa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
